/* timer styling */

#timer {
    box-sizing: border-box;
    color: orange;
    background-color: green;
    font-size: 40px;
}

.questions{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: black;
    background-color: yellow;
    height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}

.container {
    width: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px;
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.hidden {
    display: none;
}

.start {
    display: block;

}

.btn {
    font-size: large;
    background-color: palegoldenrod;
    border: 1px, solid, black;
    border-radius: 5px;
    padding: 5px 10px;


}

.btn-grid{
display: grid;

}

.choice-container {
    display: flex;
    margin: 0px;
    width:100%;
    background-color: yellow;
    font-size: 10px;
    border-radius: 5px;

}
.choice-text {
    padding: 10px;
    width: 100%;
}

.userChoices {
    display: flex;
    margin: 0px;
    background-color: yellow;
    font-size: 30px;
}
body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #3a8;
  }

  .control {
      display: flex;
      justify-content: center;
      align-items: center;
  }

